@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Jobs</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @* Loop through jobs when connected to DB *@
        <tr>
            <td>123</td>
            <td>2025-06-01</td>
            <td>Pending</td>
        </tr>
    </tbody>
</table>
