@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<EShiftSystem.Models.Lorry>

<div class="content-header">
    <h2>Lorries</h2>

    <a class="btn btn-primary" asp-area="Admin" asp-controller="Lorry" asp-action="Create"><i class="fas fa-plus"></i> Create New Lorry</a>
</div>

<table >
    <thead>
        <tr>
            <th>License Plate</th>
            <th>Model</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LicensePlate</td>
                <td>@item.Model</td>
                <td>
                    @if (item.IsAssigned)
                    {
                        <span class="badge bg-warning">Assigned</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Available</span>
                    }
                </td>
               <td>
    <a class="btn btn-sm btn-outline me-2" asp-action="Edit" asp-route-id="@item.LorryId" title="Edit">
        <i class="fas fa-edit"></i> Edit
    </a>
    @if (!item.IsAssigned)
    {
        <a class="btn btn-sm btn-outline text-danger" asp-action="Delete" asp-route-id="@item.LorryId" title="Delete">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
    }
  
</td>

            </tr>
        }
    </tbody>
</table>
